PUBLIC_HOSTNAME=
POSTGRES_DATABASE_URL=postgresql://shkandal:replace-with-strong-password@postgres:5432/shkandal
PUBLIC_FRONTEND_ORIGIN=http://server-ip
BACKEND_INTERNAL_URL=http://backend:8000
NEXT_PUBLIC_SITE_URL=http://server-ip
