.env
.env.*
!.env.example
!.env.*.example

.venv/
.idea/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
__pycache__/
*.py[cod]
*.dump

artifacts/dumps/**
artifacts/models/**
!artifacts/models/**/
!artifacts/models/**/manifest.json
!artifacts/models/**/*.dvc

node_modules/
.next/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
