[Unit]
Description=Run Shkandal ML worker every 70 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=70min
Persistent=true
Unit=shkandal-ml-worker.service

[Install]
WantedBy=timers.target
