[Unit]
Description=Run Shkandal ingestion every two hours

[Timer]
OnBootSec=5min
OnCalendar=*-*-* 00/2:00:00
Persistent=true
Unit=shkandal-ingestion.service

[Install]
WantedBy=timers.target
